.square{
	width: 19%;
	line-height: 106px;
	margin: 2.5%;
	border-radius: 30%;
	font-size: 25px;
	background-color: white;
}
#container{
	max-width: 600px;
	margin: 20px auto;
}
#equals{
	width:68.4%;
}
body{
	background-color: blue;
	font-family: cursive;
}
h1{
	color: white;
	font-size: 50px;
}
p{
	color: white;
	font-size: 30px;
}